.all-container {
    margin-top:10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10%;
    margin-left: 10%;
}
.container {
    margin: 0 auto;
    width: max-content;
    text-align: center;
    display: grid;
}

.venue-container {
    display: grid;
    grid-template-columns: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.container-item {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.crud-button {
    height: 3em;
    border-radius: 4px;
    color: #fff;
    width: 7em;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    text-decoration: none;
    border: 1px solid rgb( 33, 126, 74 );
    background-color: rgb( 43, 153, 91 );
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.role-button {
    margin-top: 5px;
    height: 3em;
    border-radius: 4px;
    color: #fff;
    width: 7em;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid rgb( 33, 126, 74 );
    background-color: rgb( 43, 153, 91 );
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.not-exist-role {
    background-color: #dc3545;
}
.crud-button:hover {
    background-color: rgb( 75, 183, 141 );
    color: #ebefee;
}
.role-button:hover {
    background-color: rgb( 75, 183, 141 );
    color: #ebefee;
}
.not-exist-role:hover {
    background-color: #fc5060;
    color: #ebefee;
}


    
.table {
    margin-top: 5px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}
.image-container {
    margin: 0 auto;
    width: 245px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cart-buttons {
    display: inline-flex;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.image-button {
    margin-top: 5px;
}
.role-button-container {
    display: grid;
    grid-template-rows: 33% 33% 33%;
}
.manage-button-container {
    display: grid;
    grid-template-columns: 7em 7em 7em;
}

.venues-button-container {
    display: grid;
}

.form {
    width: 40%;
    margin: 0 auto;
    text-align: left;
}
.form-box {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
}
.submit-button {
    margin: 0 auto;
    background-color: #dc3545;
}
.submit-button:hover {
    background-color: #fc5060;
}
.submit-box {
    width: 100%;
    text-align: center;
}
.main-info {
    text-align: left;
}
.event-info {
    display: inline-block;
}
.icon {
    margin-bottom: 7px;
}
.error-box {
    width: 40%;
    margin: 0 auto;
    color: #f53434;
    text-align: left;
}
.cart-error-box {
    width: 55%;
    margin: 0 auto;
    color: #f53434;
    text-align: left;
}
.success-message {
    color: #15d338;
    text-align: center;
}

.svgClass {
    background-color: #e9e8f3;
}

.layout-block {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 10px;
}
    